<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
         <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap" rel="stylesheet">
                        
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/bootstrap-icon.css') }}">

        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/templatemo-pod-talk.css') }}">

    </head>
    
    <body>
        {% block body %}
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">   
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">

                            <li class="nav-item">                 
                                <a class="nav-link" href="{{ path('app_inscription_entreprise') }}">S'inscrire en tant qu'entreprise</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="{{ path('app_inscription_dev')}}">S'inscrire en tant que devellopeur</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_entrehome_page') }}">Se connecter</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            
            <section class="hero-section">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="text-center mb-5 pb-2">
                                <h1 class="text-white">Vous cherchez une entreprise</h1>
                                <h4 class="section-title">Voici les entreprises qui cherche un devellopeur</h4>
                            </div>
                    </div>
                </div>
            </section>

             <section class="latest-podcast-section section-padding" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Les Entreprises</h4>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block d-flex">
                                <div class="">
                                    <div class="custom-block-icon-wrap">
                                        <div class="section-overlay"></div>
                                        <a href="detail-page.html" class="custom-block-image-wrap">
                                            <img src="images/podcast/11683425_4790593.jpg" class="custom-block-image img-fluid" alt="">

                                            <a href="#" class="custom-block-icon">
                                                <i class="bi-play-fill"></i>
                                            </a>
                                        </a>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <i class="bi-clock-fill custom-icon"></i>
                                            Lieu                                            
                                        </small>
                                    </div>

                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                           Entreprise
                                        </a>
                                    </h5>

                                   
                                    <p class="mb-0">Type de Jobs </p>
                                    <p class="mb-0">Description detaillée </p>
                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>Salaire</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>Language</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>Niveau d'experience</span>
                                        </a>

                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block d-flex">
                                <div class="">
                                    <div class="custom-block-icon-wrap">
                                        <div class="section-overlay"></div>
                                        <a href="detail-page.html" class="custom-block-image-wrap">
                                            <img src="images/podcast/11683425_4790593.jpg" class="custom-block-image img-fluid" alt="">

                                            <a href="#" class="custom-block-icon">
                                                <i class="bi-play-fill"></i>
                                            </a>
                                        </a>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <i class="bi-clock-fill custom-icon"></i>
                                            Lieu                                            
                                        </small>
                                    </div>

                                    <h5 class="mb-2">
                                        <a href="detail-page.html">
                                           Entreprise
                                        </a>
                                    </h5>

                                   
                                    <p class="mb-0">Titre du poste </p>
                                     <p class="mb-0">Description detaillée </p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>Salaire</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>Language</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>niveau d'experience</span>
                                        </a>

                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                     
                      

                        
                    </div>
                </div>
            </section>
            
        </main>

        <footer class="site-footer">   
            <div class="container">
                <div class="row">

                    

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Contact</h6>

                        <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> +33 7 22 33 44 55</p>

                        <p>
                            <strong class="d-inline me-2">Email:</strong>
                            <a href="#">lesite@gmail.com</a> 
                        </p>
                    </div>

                   

                        <h6 class="site-footer-title mb-3">Social</h6>

                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="container pt-5">
                <div class="row align-items-center">


                    <div class="col-lg-7 col-md-9 col-12">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Homepage</a>
                            </li>

                        </ul>
                    </div>

                    
                </div>
            </div>
        </footer>
      
        <a href="{{ path('app_inscription_entreprise') }}">Créer une fiche de poste</a>
        <a href="{{ path('app_logout') }}">Déconnexion</a>

      


        
        {% endblock %}
    </body>
</html>
